#login-img {
    padding-left: 169px;
}

#login-pg-img {
    width: 570px;
    height: 570px;
    margin: 255px 0;
}

#sign-up-img {
    padding-right: 109px;
}

#sign-up-pg-img {
    width: 570px;
    height: 457px;
    margin: 311px 0 312px;
}